.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.footer-area {
  margin-top: 4em;
  background-color: black;
  color: white;
  
}

.logo-footer {
  margin:1em;
}

.list-footer {
  margin-right:1em;
  
}

.main-footer {
  text-align: left;
  font-size: 1.2em;
  
}



.main-footer p {
  text-decoration-line: none;
}

.main-footer a {
  color: white;
  text-decoration: none;
}

/*Banner*/

.banner-area {
  padding-bottom: 20px;
}

.banner-style {
 font-size: 1.1em;
 background-color: rgb(245, 239, 239);
  
}


